@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

body {
    overflow: overlay;
    background-image: url('./background.png');
    background-size: 100%;
}

p, h1, h2, a, ul, li, img, h3 {
    color: rgb(241, 241, 241);
    font-family: 'Roboto', sans-serif;
}


::-webkit-scrollbar {
    width: 4px;
}


::-webkit-scrollbar-thumb {
    background: rgb(196, 233, 255);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}

.header {
    text-align: center;
    padding-top: 10px;
    padding: 15px;
}

.imgLogo {
    width: 230px;
    border-radius: 15px;
 
}

.Description {
    padding: 15px;
    display: flex;
    justify-content: center;
    
}

.Description p{
  
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
    padding: 45px;
    word-wrap: break-word;
}

.discord {
    padding: 55px;
    display: flex;
    justify-content: center;
}

.crate-button {
  text-align: center;
}

.crate-button button {
    border: none;
    cursor: pointer;
    padding: 13px;
    color: rgb(241, 241, 241);
    background-color: rgba(56, 53, 53, 0.89);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.crate-button button:hover {
background-color: rgba(44, 41, 41, 0.89)
}

.container {
    text-align: center;
}

.container_header{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    
}

.container_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.container ul li {
    list-style: none;
    margin-top: 1px;
    padding-bottom: 3px;
    margin-right: 40px;  
}

.info {

    padding: 10px;
    margin-top: 70px;
    background-size: 100%;
    background-color: rgba(29, 27, 27, 0.89);
    border-radius: 10px;
    margin-right: 50px;
    margin-left: auto; 
    max-width: 300px;
    height: 100%;

}


.comandos {

    padding: 10px;
    margin-top: 5px;
    background-size: 100%;
    background-color: rgba(29, 27, 27, 0.89);
    border-radius: 10px;
    margin-right: 50px;
    margin-left: auto; 
    max-width: 300px;
    height: 100%;

}


.botInfo {

    padding: 10px;
    margin-top: 5px;
    background-size: 100%;
    background-color: rgba(29, 27, 27, 0.89);
    border-radius: 10px;
    margin-right: 50px;
    margin-left: auto; 
    max-width: 300px;
    height: 100%;

}

.serverInfo {

    padding: 10px;
    margin-top: 130px;
    background-size: 100%;
    background-color: rgba(29, 27, 27, 0.89);
    border-radius: 10px;
    margin-right: auto;
    margin-left: 50px; 
    max-width: 300px;
    height: 100%;


}


.players {

    padding: 10px;
    margin-top: 5px;
    background-size: 100%;
    background-color: rgba(29, 27, 27, 0.89);
    border-radius: 10px;
    margin-right: 50px;
    margin-left: auto; 
    max-width: 300px;
    height: 100%;
}

a {
    color:rgb(73, 255, 255);
    
}


@media only screen and (max-device-width: 800px) {
    body {
        background-image: none;
        background-color: #161b22;
    }

    p, h1, h2, a, ul, li, img, h3 {
        color: #f0f6fc;
        font-family: 'Roboto', sans-serif;
    }

    .imgLogo {
        display: none;
    }

    .container {
     text-align: center;
     align-items: center;
    }
    
    .container_header{
        display: block;
        margin-top: 5px;
     
        
    }
    
    .container_footer {
        display: block;
        margin-top: 5px;
       
    }

    .comandos {

        padding: 10px;
        margin-top: 50px;
        background-color: #161b22;
        border-radius: 0px;
        margin-left: auto; 
        margin-right: auto; 
        max-width: 300px;
        height: 100%;
    
    }
    
    
    .botInfo {
    

        padding: 10px;
        margin-top: 50px;
        background-color: #161b22;
        border-radius: 0px;
        margin-left: auto; 
        margin-right: auto; 
        max-width: 300px;
        height: 100%;
    
    }
    
    .serverInfo {
    
        padding: 10px;
        margin-top: 50px;
        background-color: #161b22;
        border-radius: 0px;
        margin-left: auto; 
        margin-right: auto; 
        max-width: 300px;
        height: 100%;
    }
    
    .players {
    

        padding: 10px;
        margin-top: 50px;
        background-color: #161b22;
        border-radius: 0px;
        margin-left: auto; 
        margin-right: auto; 
        max-width: 300px;
        height: 100%;
    }

    .info {
        padding: 10px;
        margin-top: 50px;
        background-color: #161b22;
        border-radius: 0px;
        margin-left: auto; 
        margin-right: auto; 
        max-width: 300px;
        height: 100%;
    
    }

    .container ul li {
        list-style: none;
        margin-top: 1px;
        padding-bottom: 3px;
        margin-right: 40px;  
    }
    
}